body {
    background-color: #f8f8f8;
    font-family: "Times new Roman", serif;
}

.menu,
.specification,
.contacts {
    list-style-type: none;
}

.menu {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    padding: 0;
}

.menu li {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #8f8f8f;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-top: 5px;
}

.menu a:hover {
    background-color: #5f5f5f;
}

.product h3 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.product h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeafa;
}

.product a + h3 +h4 {
    background-color: #f8f8f8;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 40px;
}

.product img {
    border: 4px solid #5f5f5f;
    border-radius: 10px;
}

.summary {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.specification li,
.contacts > li {
    color: #5555aa;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    background-position: left;
    background-repeat: no-repeat;
}

.specification li {
    background-image: url(icons/exposure.png);
    background-size: 15px;
}

.feedback {
    line-height: 40px;
}

.feedback input[type="text"],
.feedback select {
    width: 200px;
    height: 24px;
    margin-left: 10px;
}

.feedback input,
.feedback textarea,
.feedback select {
    color: #565689;
    font-family: sans-serif;
    font-size: 18px;
}

.feedback input::placeholder {
    color: #9f9f9f;
    font-family: sans-serif;
    font-style: italic;
    font-size: 14px;
}

.contacts > li {
    background-size: 20px;
}

.contacts > li:first-child {
    background-image: url(icons/icons8-phone-32.png);
}

.contacts > li:nth-child(2) {
    background-image: url(icons/icons8-home-32.png);
}

.contacts > li:nth-child(3) {
    background-image: url(icons/icons8-secured-letter-32.png);
}

.contacts > li:last-child {
    background-image: url(icons/icons8-calendar-32.png);
    background-position: left top;
}